body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  font-family: "Nanum Barun Gothic";
}

.left_side {
  background-color: rgb(184, 160, 115);
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.intro {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(250, 250, 248);
}

.intro h1 {
  font-family: "Gaegu", cursive;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}

.profile_box {
  width: 230px;
  height: 230px;
  justify-content: center;
  align-items: center;
  float: left;
}

.profile_box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 36px;
  margin-top: 6px;
  border: rgb(250, 250, 248) solid 2px;
}

.profile_box p {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: rgb(250, 250, 248);
}

.right_side {
  background-color: rgb(250, 250, 248);
  width: 50%;
  height: inherit;
  display: flex;
  align-items: center;
}

.right_contents {
  width: 100%;
  height: 230px;
  margin-left: 60px;
}

.icon img {
  width: 60px;
  height: 60px;
}

.comment {
  font-size: 15px;
  line-height: 160%;
  margin-top: 15px;
  margin-left: 15px;
  letter-spacing: 1px;
}

.comment p {
  margin-bottom: 15px;
  animation-name: fadein;
}

.comment a {
  color: rgb(184, 160, 115);
}
